* {
    list-style: none;
}


ul, h1{
    margin: 0;
}
img {
    width: 10%;
    border-radius: 50%;
}


.roboto-slab-uniqueh1 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  p{
    text-align: justify;
    margin: 0;
  }

  #workSection > ul> li {
    min-width: 100px;
    background-color: #563d7c;
    padding: 20px;
    border-radius: 50%;
    color:white;
  }

  footer {
    padding: 10px;
  }